.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #f8f8f8; // светлый фон
  font-size: 0.875rem;
  color: #333;

  &__left,
  &__center,
  &__right {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__center {
    align-items: center;
  }

  &__logo {
    height: 50px; // подбирай под дизайн
    object-fit: contain;
  }

  &__right {
    text-align: right;
  }
}
